tgcrypto
git+https://github.com/AmanoTeam/pyrogram.git#egg=Pyrogram

uvloop>=0.4.0,<0.17.0; platform_system != "Windows"

aiosqlite==0.17.0
python-ffmpeg==1.0.14
gpytranslate==1.4.0
meval==2.5
speedtest-cli
httpx[http2]>=0.18.1,<1.0.0
regex
Pillow>=8.4.0,<10.0.0
pytio
yt-dlp==2022.5.18
humanfriendly
yarl
